/* Typographie */

p,
li {
  /* espace vertical entre chaque ligne doit être augmenté, sinon trop sérré */
  /* cela dépend de la police utilisée et peut aller de 1.3 à 2 */
  line-height: 1.7;
}

p + p {
  /* paragraph following another paragraph */
  /* l'espacement entre paragraphes n'est pas assez grand (1em). Il faut davantage d'espace*/
  margin-top: 1.2em;
}
li + li {
  /* Chaque puce doit être davantage espacée de ses puces voisines, sinon elles sont vraiment les unes sur les autres
  cela passe de 0 à 0.5 em de margin.
  */
  margin-top: 0.5em;
}

ul,
ol {
  /* la liste doit être davantage espacée/isolée par rapport au paragraphe précédant*/
  margin: 1.5em 0;
  /* la liste ne doit pas être trop décalée sur la droite sinon elle gâche de l'espace horizontal sur mobile. 
  Par défaut est 40px (2.5em) */
  /* fixme */
  /* augmenter à 3em sur desktop */
  /* padding-left: 3em; */
}

/* 
blockquote {
  background-color: #ddd;
  padding: 1em;
  border-left: solid #333 10px;
  font-family: "Merriweather";
  margin-left: 0px;
}
blockquote p {
  margin: 0;
  font-size: 16px;
  line-height: normal;
} */

/* Headings and paragraph relative positioning */



h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 0;

  /* the space between the header and the 
  first paragraph must be smaller than 1em. It is defined by the header.
  The paragraph must not interfere so we set the top margin to 0.*/
}

h1,
h2,
h3,
h4,
h5 {
  /* headers are close to their content, 
  far from unrelated previous content */
  margin-bottom: 0.6rem;
  margin-top: 2.2rem;
}



/* Reduce or remove top margins when the element is the first in a div */

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 1em;
  /* le titre premier élément peut être située directement en haut */
}
p:first-child {
  margin-top: 0;
}