/* General */
:root {
    /* primitives gray */

    --gray-1: #222;
    --gray-5: #b4b4b4;
    --gray-7: #d3d3d3;
    --gray-8: #e0e0e0;
    --gray-9: #f2f2f2;

    --dark: #282a36; /* 223 b */
    --secondary-color: var(--gray-5);
    --link-color: #1b256a; /* 126 b */
    --link-visited-color: #450963; /* 406 b*/
    --error-color: #cc0000; /* c00 r */

    --code-background: var(--gray-1);
    --blockquote-border-left: var(--gray-1);
    --blockquote-background: var(--gray-8);
    --hr-color: var(--gray-8);
    --button-background-hover: var(--gray-9);

    --text-color: var(--dark);

    --default-font-stack: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --monospace-font-stack: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
}
