/* General */
:root {
    --dark: #282a36; /* 223 b */

    --gray-100: #f2f2f2;
    --gray-200: #e0e0e0;
    --gray-300: #d3d3d3;
    --gray-400: #c4c4c4;
    --gray-500: #b4b4b4;
    --gray-600: #888;
    --gray-700: #555;
    --gray-800: #333;
    --gray-900: #222;

    --secondary-color: var(--gray-500);
    --link-color: #1b256a; /* 126 b */
    --link-visited-color: #450963; /* 406 b */
    --error-color: #cc0000; /* c00 r */

    --code-background: var(--gray-900);
    --blockquote-border-left: var(--gray-900);
    --blockquote-background: var(--gray-100);
    --hr-color: var(--gray-100);

    --sans-serif-font-stack: system-ui, -apple-system, Roboto, "Segoe UI", Oxygen, Ubuntu;
    --monospace-font-stack: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
