/* Buttons and Inputs alike */

/* Common styles for controls */
button,
.buttonShape,
input,
select,
textarea {
    /* fight browser style */
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    background: transparent;
    /* border */
    border-radius: 3px;
    border: 1px solid var(--gray-300);
}

button,
.buttonShape {
    display: inline-block;
    font-weight: 600;

    padding: 8px 16px; /* y x */
    cursor: pointer;
    /* margin-right: 8px; */
    /* safari */
    height: 36px;

    user-select: none;

    /* the hover style should not affect disabled button */
    &:hover:not(:disabled) {
        /* changing background from transparent to color does not guarantee a visual change */
        background: var(--gray-100);
        text-decoration: none;
    }
    /* the active style should not affect disabled button */
    &:active:not(:disabled) {
        transform: translateY(1px);
    }
    &:disabled {
        color: var(--gray-300); /* secondary text */
        cursor: not-allowed;
    }
    &:visited {
        color: inherit; /* remove visited link style */
    }
}

.subtleButton {
    border-color: transparent;

    :hover:not(:disabled) {
        border-color: var(--gray-300);
    }
}

select {
    font-weight: 500;
    padding: 0.5em 1em;
    /* Safari needs height else too small */
    height: 36px;
    /* -webkit-appearance:none; */
    user-select: none;
}

input {
    display: block;
    font-weight: 400;
    padding: 8px 16px; /* y x */
    width: 300px;
    margin-top: 4px;
    height: 36px; /* otherwise too short (34px) */
}

::placeholder {
    color: var(--gray-300);
    font-size: 14px;
}

input[type="file"] {
    /* We don't override the default appareance, so we remove the border */
    border: none;
}

textarea {
    display: block;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 16px; /* y x */
    width: 300px;
    margin-top: 4px;
    height: 5rem;
    resize: none;
}

form {
    font-family: inherit;
    font-size: initial;
    text-align: start;
}

label {
    font-size: 14px;
    font-weight: 500;
}
