/* Buttons and Inputs alike */
:root {
    --control-border-color: var(--gray-300);
    --control-border-width: 1px;
    --border-radius: 3px;
}

/* Common styles for controls */
button,
.buttonShape,
input,
select,
textarea {
    /* fight browser style */
    font-family: inherit;
    font-size: 16px;
    background: transparent;
    border-radius: var(--border-radius);
}

button,
.buttonShape {
    display: inline-block;
    font-weight: 500;
    border: var(--control-border-width) solid var(--control-border-color);
    padding: 0.5em 1em;
    cursor: pointer;
    margin-right: 0.5em;
    /* safari */
    color: initial;
    /* height: 36px; */

    /* the hover style should not affect disabled button */
    &:hover:not(:disabled) {
        /* changing background from transparent to color does not guarantee a visual change */
        background: var(--gray-100);
        text-decoration: none;
    }
    /* the active style should not affect disabled button */
    &:active:not(:disabled) {
        transform: translateY(1px);
    }
    &:disabled {
        color: var(--gray-300); /* secondary text */
        cursor: not-allowed;
    }
    &:visited {
        color: inherit; /* remove visited link style */
    }
}

.subtleButton {
    border: var(--control-border-width) solid transparent;
    &:hover:not(:disabled) {
        border: var(--control-border-width) solid var(--gray-100);
    }
    &:disabled {
        border: 2px solid transparent;
    }
}

select {
    font-weight: 500;
    border: var(--control-border-width) solid var(--control-border-color);
    padding: 0.5em 1em;
    /* Safari needs height else too small */
    height: 39px;
    /* -webkit-appearance:none; */
}

input {
    display: block;
    font-weight: 400;
    border: var(--control-border-width) solid var(--control-border-color);
    padding: 0.5em 1em;
    width: 15em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

input:-webkit-autofill::first-line {
    /* empêcher autofill de modifier la typographie */
    font-family: inherit;
    font-size: initial;
    /* font-weight: 500; */
}

input[type="file"] {
    /* We don't override the default appareance, so we remove the border */
    border: none;
}

textarea {
    display: block;
    font-weight: 400;
    border: var(--control-border-width) solid var(--control-border-color);
    padding: 0.5em 1em;
    width: 16em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    height: 5em;
    resize: none;
    /* the html specified col and rows will prevail over width and height*/
}

form {
    font-family: inherit;
    font-size: initial;
    text-align: start;
}

::placeholder {
    color: var(--gray-300);
}
