/* Buttons and Inputs alike */

::placeholder {
    color: var(--gray-7);
}

button,
.buttonShape {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-right: 0.5em;
    /* safari */
    color: initial;
    /* height: 36px; */
    /* box-sizing: border-box; */

    &:hover:not(:disabled) {
        background: var(--gray-9);
        text-decoration: none;
    }
    &:active:not(:disabled) {
        transform: translateY(1px);
    }
    &:disabled {
        border: solid 2px var(--gray-7);
        color: var(--gray-7);
        background: transparent;
        cursor: not-allowed;
    }
    &:visited {
        color: initial;
    }
}

.subtleButton {
    border: 2px solid transparent;
    &:hover:not(:disabled) {
        border: 2px solid var(--gray-9);
    }
    &:disabled {
        border: 2px solid transparent;
    }
}

select {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid black;
    padding: 0.5em 1em;
    border-radius: 3px;
    background-color: transparent;
    /* Safari needs height else too small */
    height: 39px;
    /* -webkit-appearance:none; */
}

input {
    display: block;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    background: transparent;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5em 1em;
    width: 15em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

input:-webkit-autofill::first-line {
    /* empêcher autofill de modifier la typographie */
    font-family: inherit;
    font-size: initial;
    font-weight: 500;
}

input[type="file"] {
    /* We don't override the default appareance, so we remove the border */
    border: none;
}

textarea {
    display: block;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    background: transparent;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5em 1em;
    width: 16em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    height: 5em;
    resize: none;
    /* the html specified col and rows will prevail over width and height*/
}

form {
    font-family: inherit;
    font-size: initial;
    text-align: start;
}
