* {
    box-sizing: border-box;
    margin: 0;
    /* anti-aliasing: subpixel-antialiased; */
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--sans-serif-font-stack);
    color: var(--dark);
    /* font-family: Season sans Trial, var(--sans-serif-font-stack); */
}

.container {
    margin: 0 8px;
    max-width: 700px;
}

@media (min-width: 768px) {
    .container {
        margin: auto;
    }
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: var(--link-color);
    }
}

/* Code */
pre,
code {
    /* style du texte préformaté, en particulier le code */
    /* le retour à la ligne n'a lieu que si le contenu contient un retour à la ligne */
    /* plus petit que le corps de texte normal */
    /* par défaut, le code est en 13px , il faut l'aggrandir un peu*/
    font-size: 14px;
    /* une scrollbar apparaît uniquement lorsque c'est nécessaire */
    overflow: auto;
    /* empêche le mot d'être coupé en deux (contrairement à break-word) */
    overflow-wrap: normal;
    /* empêche les espaces d'êtres supprimés (nécessaire pour la tabulation avec espace) */
    white-space: pre;
}

code {
    font-family: var(--monospace-font-stack);
    background: var(--code-background);
    color: white;
    display: block;
    padding: 1em;
    margin: 0;
    padding-left: 2em;
    border-radius: 5px;
    line-height: 1.5;
}

hr {
    border: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid var(--hr-color);
    /* margin: 27px 5px; */
}

blockquote {
    background-color: var(--blockquote-background);
    padding: 1em;
    border-left: solid var(--blockquote-border-left) 10px;
    margin-left: 0;
    margin-right: 0;
}
blockquote p {
    margin: 0;
    font-size: 16px;
    line-height: normal;
}

/* Misc */
.errorText {
    color: var(--error-color);
}

.secondaryText {
    font-size: 15px;
    color: var(--secondary-color);
}

/* Desktop styling */

@media (min-width: 1000px) {
    article {
        font-size: 18px;
    }
}
