body {
    font-family: var(--sans-serif-font-stack);
    color: var(--dark);
}

.container {
    max-width: 700px;
    margin: auto;
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: var(--link-color);
    }
}

/* Code */
pre,
code {
    /* style du texte préformaté, en particulier le code */
    /* le retour à la ligne n'a lieu que si le contenu contient un retour à la ligne */
    /* plus petit que le corps de texte normal */
    /* par défaut, le code est en 13px , il faut l'aggrandir un peu*/
    font-size: 14px;
    /* une scrollbar apparaît uniquement lorsque c'est nécessaire */
    overflow: auto;
    /* empêche le mot d'être coupé en deux (contrairement à break-word) */
    overflow-wrap: normal;
    /* empêche les espaces d'êtres supprimés (nécessaire pour la tabulation avec espace) */
    white-space: pre;
}

code {
    font-family: var(--monospace-font-stack);
    background: var(--code-background);
    color: white;
    display: block;
    padding: 1em;
    margin: 0;
    padding-left: 2em;
    border-radius: 5px;
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 1px solid var(--hr-color);
    /* margin: 27px 5px; */
}

blockquote {
    background-color: var(--blockquote-background);
    padding: 1em;
    border-left: solid var(--blockquote-border-left) 10px;
    margin-left: 0;
    margin-right: 0;
}
blockquote p {
    margin: 0;
    font-size: 16px;
    line-height: normal;
}

article {
    /* can have some room at the end of an article */
    margin-bottom: 4em;
}

/* Spacing */

p,
li {
    /* espace vertical entre chaque ligne doit être augmenté, sinon trop sérré */
    /* cela dépend de la police utilisée et peut aller de 1.3 à 2 */
    line-height: 1.5;
}

li + li {
    /* Chaque puce doit être davantage espacée de ses puces voisines, sinon elles sont vraiment les unes sur les autres
  cela passe de 0 à 0.5 em de margin.
  */
    margin-top: 0.5em;
}

ul,
ol {
    /* la liste doit être davantage espacée/isolée par rapport au paragraphe précédant*/
    margin: 1.5em 0;
    /* la liste ne doit pas être trop décalée sur la droite sinon elle gâche de l'espace horizontal sur mobile. 
  Par défaut est 40px (2.5em) */
    /* fixme */
    /* augmenter à 3em sur desktop */
    /* padding-left: 3em; */
}

p + p {
    margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

p + :is(h1, h2, h3, h4, h5) {
    /* the header follows a paragraph*/
    margin-bottom: 4px;
    margin-top: 32px;
}

/* Misc */
.errorText {
    color: var(--error-color);
}

.secondaryText {
    font-size: 15px;
    color: var(--secondary-color);
}

/* Desktop styling */

@media (min-width: 1000px) {
    article {
        font-size: 18px;
    }
}
