/* Table (not great in mobile) */

table {
    border-spacing: 0;
    border-radius: 2px;
    font-size: 14px;
    border: 1px solid var(--gray-300);
}
td,
th {
    border-bottom: 1px solid var(--gray-300);
    padding: 14px;
    /*     border-right:black solid 1px; */
}
tr:nth-of-type(2n) {
    background: var(--gray-100);
}
th {
    text-transform: uppercase;
}

tbody tr:last-of-type td {
    border: none;
}
